body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #111, #333);
    color: white;
}

nav {
    background: black;
    padding: 15px;
    text-align: center;
}

nav a {
    color: gold;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    color: white;
}

header {
    text-align: center;
    padding: 50px 20px;
}

header h1 {
    color: gold;
    font-size: 38px;
}

section {
    background: white;
    color: black;
    margin: 30px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

button {
    padding: 10px 15px;
    background: black;
    color: gold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: gold;
    color: black;
}

footer {
    text-align: center;
    padding: 25px;
    color: gray;
}